/res/agglomData1000.json
/res/agglomData5000.json
/res/cities500.txt
/res/cities1000.txt
/res/agglomData500.json
/res/agglomData15000.json
res/master_hotel_to_mc_2.txt
res/master_hotel_to_mc.txt
res/htl_to_mc_inp.json
res/htl_to_mc_inp_2.json
google_api_test_from_placeid.html
res/mc_info_lkp.txt
res/to_mc.csv
res/to_mc_2.csv
res/to_mc_apt.csv
debug.html
debug.js
